MyWebApplication1/Connected Services/ConverterServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50688/TempConService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50688/TempConService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TempConService_c2f_InputMessage">
    <wsdl:part name="parameters" element="tns:c2f" />
  </wsdl:message>
  <wsdl:message name="TempConService_c2f_OutputMessage">
    <wsdl:part name="parameters" element="tns:c2fResponse" />
  </wsdl:message>
  <wsdl:message name="TempConService_f2c_InputMessage">
    <wsdl:part name="parameters" element="tns:f2c" />
  </wsdl:message>
  <wsdl:message name="TempConService_f2c_OutputMessage">
    <wsdl:part name="parameters" element="tns:f2cResponse" />
  </wsdl:message>
  <wsdl:portType name="TempConService">
    <wsdl:operation name="c2f">
      <wsdl:input wsaw:Action="http://tempuri.org/TempConService/c2f" message="tns:TempConService_c2f_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TempConService/c2fResponse" message="tns:TempConService_c2f_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <wsdl:input wsaw:Action="http://tempuri.org/TempConService/f2c" message="tns:TempConService_f2c_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TempConService/f2cResponse" message="tns:TempConService_f2c_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TempConService" type="tns:TempConService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="c2f">
      <soap:operation soapAction="http://tempuri.org/TempConService/c2f" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <soap:operation soapAction="http://tempuri.org/TempConService/f2c" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_TempConService" binding="tns:BasicHttpBinding_TempConService">
      <soap:address location="http://localhost:50688/TempConService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>